*
{
    margin: 0px;
    padding: 0px;
    color: white;
}


nav
{
    position: sticky;
    top: 0px;
    background-color: black;
}


#links>a
{
    text-decoration: none;
    color: white;
    margin: 10px;
}


#socialLinks
{
    gap: 20px;
}


#textWithBgImg
{
    height: 400px;
}

#imageBgDiv
{
    height: 100%;
    background-image: url('https://th.bing.com/th/id/OIP.bni70C1c-t28z-0-1I4SJQHaE7?w=626&h=417&rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

#bgimageText
{
    width: 500px;
    height: 500px;
    background-color: transparent;
    position: absolute;
    top: 110px;
    left: 6%;
    

}

#bgimageText>h3
{
    background-color: transparent;
   
}

#bgimageText>hr
{
    color: red;
    height: 5px;
}

#bgimageText>p
{
    background-color: transparent;
    color: black;
}

#aboutUsHeading
{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
}

#aboutUsHeading>hr
{
    color: red;
    height: 5px;
}


#paraDiv
{
    width: 40%;
    height: 300px;
    background-color: transparent;
    
}


#imgDiv>img
{
    width: 500px;
    height: 300px;
}

#paraDiv>hr
{
    color: red;
    height: 5px;
}

#menuHeading>hr
{
    color: red;
    height: 5px;
}

#menuHeading
{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
}

#menuBody
{
    text-align: justify;
    padding: 10px;
    width: 900px;
    margin: auto;
}

#cardImage>img
{
    width: 250px;
    height: 200px;
}

#cardDetails
{
    width: 250px;
    height: 250px;
    padding: 25px;
}


#cardDetails>h4
{
    color: yellow;
}

#cardDetails>p
{
    line-height: 30px;
}

#carouselHeading
{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
}

#carouselHeading>hr
{   
    color: red;
    height: 5px;
}


#carouselImage
{
    width: 450px;
    height: 300px;
    /*overflow: hidden;*/
    overflow-x: scroll;
}
#carouselImage>img
{
    width: 100%;
    height: 100%;
}

#galleryHeading
{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
}

#galleryHeading>hr
{   
    color: red;
    height: 5px;
}


#gridContainer
{
    width: 800px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(5,160px);
}

#gridItem1
{
    grid-row: 1/4;
    grid-column: 1/4;
}
#gridItem1>img
{
    width: 100%;
    height: 100%;
}

#gridItem2
{
    grid-row: 1/2;
    grid-column: 4/5;
}
#gridItem2>img
{
    width: 100%;
    height: 100%;
}

#gridItem3
{
    grid-row: 2/3;
    grid-column: 4/5;
}
#gridItem3>img
{
    width: 100%;
    height: 100%;
}

#gridItem4
{
    grid-row: 3/4;
    grid-column: 4/5;
}
#gridItem4>img
{
    width: 100%;
    height: 100%;
}

#gridItem5
{
    grid-row: 1/2;
    grid-column: 5/6;
}
#gridItem5>img
{
    width: 100%;
    height: 100%;
}

#gridItem6
{
    grid-row: 2/4;
    grid-column: 5/6;
}
#gridItem6>img
{
    width: 100%;
    height: 100%;
}

#findUsHeading>hr
{
    color: red;
    height: 5px;
}

#findUsHeading
{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: auto;
}

#findUsBodyAndContact
{
    width: 400px;
    height: 300px;
    padding: 20px;
}

#findUsImg>img
{
    width: 500px;
    height: 300px;
    padding: 10px;
}


#footerImg
{
    padding: 10px;
}

#footerImg>img
{
    width: 100px;
    height: 100px;

}

#footerDetails
{
    width: 400px;
    height: 100px;
    padding: 15px;
}


@media screen and (max-width: 576px)
{

    /*Screen size break-points
    480
    992
    768
    1200
    1200+*/


    #navBar
    {
        display: flex;
        flex-direction: column;
    }

    #links
    {
        font-size: 11px;
    }

    #AboutUsDiv, #findUsbody
    {
        display: flex;
        flex-direction: column;
    }

    #paraDiv, #imgDiv
    {
        width: 400px;
    }

    #menuBody
    {
        width: 450px;
    }

    #gridContainer
    {
        width: 800px;
        height: 300px;
    }
}